{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}
    {{  title }} | {{ block.super }}
{% endblock title %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>{{ title }}</h1>
                {% include 'partials/message.html' %}
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="{{ form.old_password.id_for_label }}">Senha anterior</label>
                        {{ form.old_password|add_class:"form-control"|attr:"type:password" }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.new_password1.id_for_label }}">Nova senha</label>
                        {{ form.new_password1|add_class:"form-control"|attr:"type:password" }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.new_password2.id_for_label }}">Comfirma nova senha</label>
                        {{ form.new_password2|add_class:"form-control"|attr:"type:password" }}
                    </div>

                    <button type="submit" class="btn btn-primary">Salvar</button>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}