{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/login.css' %}" rel="stylesheet">

    <title>{{ title }} | TodoApp</title>

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
</head>

<body class="text-center">
    <form class="form-signin" method="POST">
        {% csrf_token %}
        <h1 class="h3 mb-3 font-weight-normal">Identifique-se</h1>
        {% include 'partials/message.html' %}
        <label for="id_username" class="sr-only">Usuário</label>
        <input type="text" id="id_username" name="username" class="form-control" placeholder="Nome de usuário" required autofocus>
        <label for="id_password" class="sr-only">Senha</label>
        <input type="password" id="id_password" name="password" class="form-control" placeholder="Digite sua senha" required>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
    </form>

    <!-- JQuery JS Import -->
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <!-- Bootstarp JS Import -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>

</html>