{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block title %}
    {{  title }} | {{ block.super }}
{% endblock title %}

{% block content %}

    <main class="container">
        <div class="row">
            <div class="col-12">
                <h1>{{ title }}</h1>
                {% include 'partials/message.html' %}
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="{{ form.photo.id_for_label }}">Foto do perfil</label>
                        {{ form.photo|add_class:"form-control-file" }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.cell_phone.id_for_label }}">Celular</label>
                        {{ form.cell_phone|add_class:"form-control phone_mask" }}
                    </div>

                    <button class="btn btn-primary" type="submit">Salvar</button>
                </form>
            </div>
        </div>
    </main>

{% endblock content %}

{% block scripts %}
    <script src="{% static 'js/mask.js' %}"></script>
{% endblock scripts %}