{% extends 'base.html' %}

{% block title %}
    {{ title }} | {{ block.super }}
{% endblock title %}

{% block content %}

    <main class="container">
        <div class="row">
            <div class="col-sm">
                <h1>{{ title }}</h1>
                {% include 'partials/message.html' %}
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                {% if category_list %}
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nome</th>
                                <th scope="col">Descrição</th>
                                <th scope="col">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for category in category_list %}
                                <tr>
                                    <th scope="row">{{ category.id }}</th>
                                    <td>{{ category.name }}</td>
                                    <td>{{ category.description }}</td>
                                    <td>
                                        <a href="{% url 'tasks:category-edit' pk=category.pk %}" class="btn btn-small btn-primary">Editar</a>
                                        <a href="{% url 'tasks:category-remove' pk=category.pk %}" class="btn btn-small btn-danger confirm-delete" data-toggle="modal" data-target="#confirm-delete-modal" id="delete-button-{{ category.pk }}">Excluir</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <h4>Usuário {{request.user}} não possui nenhuma categoria cadastrada</h4>
                {% endif %}
            </div>
        </div>

        {% include 'partials/confirm_delete_modal.html' %}
    </main>

{% endblock content %}

{% block scripts %}

    <script>
        $(document).on('click', '.confirm-delete', function(){
            $('#confirm-delete-modal').attr('caller-id', $(this).attr('id'));
        });
        $(document).on('click', '#confirm-delete-button-modal', function(){
            var caller = $('#confirm-delete-button-modal').closest('.modal').attr('caller-id');
            window.location = $('#'.concat(caller)).attr('href');
        });
    </script>

{% endblock scripts %}